a{
    text-decoration: none;
    color: black;
}

.main-container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 50px 0;
}

.form{
    max-width: 500px;
    margin: auto;
}

.navbar .container-fluid{
    max-width: 1200px;
    margin: auto;
}